[build-system]
requires = ["setuptools>=66.1.0", "wheel"]
build-backend = "setuptools.build_meta"

[project]
name = "fipiran"
description = "a library to retrieve data from fipiran.ir website"
keywords = ["fipiran", "client"]
classifiers = [
    "License :: OSI Approved :: GNU General Public License v3 (GPLv3)",
    "Programming Language :: Python :: 3.10",
]
requires-python = ">=3.10"
dynamic = ["version"]
dependencies = [
    "aiohutils >= 0.11.0",
    "beautifulsoup4",
    "jdatetime",
    "lxml",
    "pandas >= 2.1.0",
    "pyarrow",
]
[project.optional-dependencies]
test = [
    "aiohutils[test] >= 0.11.0",
]

[[authors]]
name = "5j9"
email = "5j9@users.noreply.github.com"

[project.license]
text = "GNU General Public License v3 (GPLv3)"

[project.readme]
file = "README.rst"
content-type = "text/x-rst"

[project.urls]
Homepage = "https://github.com/5j9/fipiran"

[tool.setuptools]
packages = ["fipiran"]
zip-safe = true
include-package-data = false

[tool.setuptools.dynamic.version]
attr = "fipiran.__version__"

[tool.ruff]
line-length = 79
format.quote-style = 'single'
isort.combine-as-imports = true
extend-select = [
    'I',  # isort
    'UP',  # pyupgrade
]
ignore = [
    'UP027',  # list comprehensions are faster than generator expressions
]

[tool.pytest.ini_options]
addopts = '--quiet --tb=short'
